<div class="border-2 rounded bg-slate-50 p-3">
  <label class="label" for="file_input">Upload file</label>
  <input
    type="file"
    #fileInput
    style="display: none"
    value="Hello World!!!"
    ngModel
    (change)="onSelectFile($event)"
  />
  <p class="input__hint" id="file_input_help">
    SVG, PNG, JPG or GIF (MAX. 800x400px).
  </p>
  <p>file: {{ fileName }}</p>

  <div class="flex justify-start">
    <button class="button__ok ml-3" (click)="fileInput.click()">
      Upload image
    </button>
    <p>{{ httpPostResponse }}</p>
  </div>
</div>
